@import "tailwindcss";

/* Hide scrollbars across elements but keep scroll functionality active */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

